*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  position: relative;
  width: 170px;
  top: 20px;
  left: 10px;
}

figure {
  margin: 0;
}

.film {
  width: 608px;
  height: 300px;
  margin: 40px auto;
  border: 2px gray solid;
}
.film-details {
  position: relative;
  left: 200px;
  bottom: 295px;
  width: 400px;
  height: 255px;
}
div.action-watch-later {
  position: relative;
  bottom: 235px;
  left: 145px;
  color: red;
}
div.action-like {
  position: absolute;
  color: red;
  left: 330px;
  top: 245px;
}
